body {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  font-family: "Calibri", sans-serif;
  font-weight: 700;
}

p {
  font-size: 2em;
}

a {
  text-decoration: none;
  padding: .2em;
  border-style: hidden;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-right:  1em;
  color: #000000;
}

.qrContainer {
  border-style: solid;
  border-radius: 1em;
  border-width: .5em;
  padding: 1em;
  width: 32em;
  text-align: center;
}

div {
  transition: .3s;
}

div:hover {
  background: linear-gradient(180deg, #999999 0%, #ffffff 15%);
  border-color: #555555;
}

@media only screen and (max-width: 1800px) {
  body {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    grid-template-columns: auto;
  }
}